.direction-column {
  flex-direction: column;
}

.justify-content {
  &#{-center} {
    justify-content: center;
  }

  &#{-end} {
    justify-content: flex-end;
  }

  &#{-start} {
    justify-content: start;
  }

  &#{-between} {
    justify-content: space-between;
  }

  &#{-around} {
    justify-content: space-around;
  }

  &#{-evenly} {
    justify-content: space-evenly;
  }
}

.align-items {
  &#{-start} {
    align-items: flex-start;
  }

  &#{-end} {
    align-items: flex-end;
  }

  &#{-center} {
    align-items: center;
  }

  &#{-stretch} {
    align-items: stretch;
  }
}
