@import "../../variables";

.col {
  flex: 1 0 0%;
}

@for $i from 1 to 13 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: calc(calc(100% / 12) * $i);

    @media screen and (max-width: #{$bp-sm}) {
      width: 100%;
    }
  }
}
