@import "../../variables";

$queries: (
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl,
);

@each $key, $val in $queries {
  @for $i from 1 to 13 {
    .col-#{$key}-#{$i} {
      @media screen and (min-width: #{$val}) {
        flex: 1 0 0%;
        width: calc(calc(100% / 12) * $i);
      }
    }
  }
}
