@import "../../variables";

$queries: (
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl,
);

@mixin gutters($gap) {
  @for $i from 1 to 12 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: calc(calc(calc(100% / 12) * #{$i}) - #{$gap});

      @media screen and (max-width: #{$bp-sm}) {
        width: 100%;
      }
    }
  }
}

.gutters {
  gap: 0.5rem;
  @include gutters(0.5rem);
}

@for $i from 1 to 6 {
  .gutters-#{$i} {
    $gutter: calc(1rem * $i);
    gap: calc(1rem * $i);

    @include gutters($gutter);
  }
}

// Responsive
.gutters {
  @each $key, $val in $queries {
    @for $i from 1 to 13 {
      $gutter: calc(1rem * $i);

      .col-#{$key}-#{$i} {
        @media screen and (min-width: #{$val}) {
          width: calc(calc(calc(100% / 12) * #{$i}) - #{$gutter});
        }
      }
    }
  }
}
